''
<div class="" id="content">
  <div
    data-section-id="2"
    data-category="ma-se-cta"
    data-component-id="9646_135_02_awz"
    class="bg-gray-50"
  >
    <div
      class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between"
    >
      <h2
        class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10"
      >
        <span data-config-id="01_part1">Ready to dive in?</span>
        <br />
        <span class="text-yellow-600" data-config-id="01_part2"
          >Start your free trial today.</span
        >
      </h2>
      <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <a
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
            href="#"
            data-config-id="01_primary-action"
            >Get started</a
          >
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <a
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-yellow-600 bg-white hover:text-yellow-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
            href="#"
            data-config-id="01_secondary-action"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    data-section-id="3"
    data-category="ma-se-team"
    data-component-id="9646_149_06_awz"
    class="bg-white"
  >
    <div class="mx-auto py-12 px-4 max-w-screen-xl sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
        <div class="space-y-5 sm:space-y-4">
          <h2
            class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl"
            data-config-id="header"
          >
            About Us
          </h2>
          <p class="text-xl leading-7 text-gray-500" data-config-id="desc">
            Nulla quam felis, enim faucibus proin velit, ornare id pretium.
            Augue ultrices sed arcu condimentum vestibulum suspendisse. Volutpat
            eu faucibus vivamus eget bibendum cras.
          </p>
        </div>
        <div class="lg:col-span-2">
          <ul
            class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:col-gap-8 lg:space-y-0"
          >
            <li class="sm:py-8">
              <div
                class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0"
              >
                <div class="relative pb-2/3 sm:pt-2/3">
                  <img
                    class="absolute inset-0 object-cover h-full w-full shadow-lg rounded-lg"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=1024&amp;h=1024&amp;q=80"
                    alt=""
                    data-config-id="img1"
                  />
                </div>
                <div class="sm:col-span-2">
                  <div class="space-y-4">
                    <div class="text-lg leading-6 font-medium space-y-1">
                      <h4 data-config-id="name1">Leslie Alexander</h4>
                      <p class="text-yellow-600" data-config-id="job1">
                        Co-Founder / CEO
                      </p>
                    </div>
                    <div class="text-lg leading-7">
                      <p class="text-gray-500" data-config-id="desc1">
                        Ultricies massa malesuada viverra cras lobortis. Tempor
                        orci hac ligula dapibus mauris sit ut eu. Eget turpis
                        urna maecenas cras. Nisl dictum.
                      </p>
                    </div>
                    <ul class="flex space-x-5">
                      <li>
                        <a
                          class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150"
                          href="#"
                        >
                          <span class="sr-only">Twitter</span>
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                          >
                            <path
                              d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"
                            ></path>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150"
                          href="#"
                        >
                          <span class="sr-only">LinkedIn</span>
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="sm:py-8">
              <div
                class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0"
              >
                <div class="relative pb-2/3 sm:pt-2/3">
                  <img
                    class="absolute inset-0 object-cover h-full w-full shadow-lg rounded-lg"
                    src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=8&amp;w=1024&amp;h=1024&amp;q=80"
                    alt=""
                    data-config-id="img2"
                  />
                </div>
                <div class="sm:col-span-2">
                  <div class="space-y-4">
                    <div class="text-lg leading-6 font-medium space-y-1">
                      <h4 data-config-id="name2">Michael Foster</h4>
                      <p class="text-yellow-600" data-config-id="job2">
                        Co-Founder / CTO
                      </p>
                    </div>
                    <div class="text-lg leading-7">
                      <p class="text-gray-500" data-config-id="desc2">
                        Ultricies massa malesuada viverra cras lobortis. Tempor
                        orci hac ligula dapibus mauris sit ut eu. Eget turpis
                        urna maecenas cras. Nisl dictum.
                      </p>
                    </div>
                    <ul class="flex space-x-5">
                      <li>
                        <a
                          class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150"
                          href="#"
                        >
                          <span class="sr-only">Twitter</span>
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                          >
                            <path
                              d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"
                            ></path>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a
                          class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150"
                          href="#"
                        >
                          <span class="sr-only">LinkedIn</span>
                          <svg
                            class="w-5 h-5"
                            fill="currentColor"
                            viewbox="0 0 20 20"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
''
