''
<div class="" id="content">
  <div class="relative bg-white overflow-hidden">
    <div class="max-w-screen-xl mx-auto">
      <div
        class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
      >
        <svg
          class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
          fill="currentColor"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
        >
          <polygon points="50,0 100,0 50,100 0,100"></polygon>
        </svg>
        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav
            class="relative flex items-center justify-between sm:h-10 lg:justify-start"
          >
            <div
              class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"
            >
              <div class="flex items-center justify-between w-full md:w-auto">
                <a href="#" aria-label="Home">
                  <img
                    class="h-8 w-auto sm:h-10"
                    src="/images/shokado_leaflogo.png"
                  />
                </a>
                <div class="-mr-2 flex items-center md:hidden">
                  <button
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
                    id="main-menu"
                    type="button"
                    aria-label="Main menu"
                    aria-haspopup="true"
                  >
                    <svg
                      class="h-6 w-6"
                      stroke="currentColor"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div
          class="hidden absolute top-0 inset-x-0 p-2 transition transform origin-top-right"
        >
          <div class="rounded-lg shadow-md">
            <div
              class="rounded-lg bg-white shadow-xs overflow-hidden"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="main-menu"
            >
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <img class="h-8 w-auto" src="/images/shokado_leaflogo.png" />
                </div>
                <div class="-mr-2">
                  <button
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
                    type="button"
                    aria-label="Close menu"
                  >
                    <svg
                      class="h-6 w-6"
                      stroke="currentColor"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <main
          class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
        >
          <div class="sm:text-center lg:text-left">
            <h2
              class="text-4xl tracking-tight leading-10 text-gray-900 sm:text-5xl sm:leading-none md:text-6xl"
            >
              <span class="mr-1">＼日本全国／<br />お土産おとりよせ</span>
            </h2>
            <p
              class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
            >
              We collected several exclusive items .
            </p>
            <div
              class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start"
            >
              <div class="rounded-md shadow">
                <a
                  class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md text-center text-white bg-yellow-900 hover:bg-yellow-800 focus:outline-none focus:border-yellow-700 focus:shadow-outline-yellow transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"
                  href="https://shop.ganso-nisshodo.jp/"
                  >オンラインストアを見る<br />Online Store</a
                >
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img
        class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="/images/sweet.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="py-12 bg-white">
    <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <div
            class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-900 text-white"
          >
            <img class="h-6 w-6" src="/images/icon_cart.svg" />
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 text-gray-900">
              デパートの催事販売のように
            </h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
              期間限定POP-UPストア形式でネット販売。
              催事ごとに商品が入れ替わりますのでご購入
              の際はぜひメルマガをご登録下さい。
            </p>
          </div>
        </div>
        <div class="mt-10 lg:mt-0">
          <div
            class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-900 text-white"
          >
            <img class="h-6 w-6" src="/images/icon_binoculars.svg" />
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 text-gray-900">
              日光観光情報
            </h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
              当店のルーツは、日光東照宮が有名な観光地、
              栃木県日光市。当サイトにアクセスして頂いた
              皆様のお役に立つ便利な観光情報を掲載予定。
            </p>
          </div>
        </div>
        <div class="mt-10 lg:mt-0">
          <div
            class="flex items-center justify-center h-12 w-12 rounded-md bg-yellow-900 text-white"
          >
            <img class="h-6 w-6" src="/images/icon_shop.svg" />
          </div>
          <div class="mt-5">
            <h5 class="text-lg leading-6 text-gray-900">
              当店で催事販売をご検討されているメーカー様
            </h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
              メルマガ会員様への催事告知だけでなく、SNSなど
              各サイトで宣伝が行われます。期間限定販売される
              だけで御社商品が大勢の方々へ全国的にPRされます。事例実績など詳しくはお問い合わせ下さい。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
''
